SOFT/AtmbDevices/DeviceLibrary/_parametres.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="CashParameters">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Logs">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Path" type="xs:string" default="..\logs"/>
							<xs:element name="Size" type="xs:unsignedShort" default="1000"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="DataSet">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="URL" type="xs:string" />
							<xs:element name="Path" type="xs:string" default="..\datasets" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Devises">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Primaire">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:length value="3"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Secondaire">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:length value="3"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Taux" type="xs:decimal" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="CoinValidator">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="SpeedMTR">
								<xs:simpleType>
									<xs:restriction base="xs:unsignedByte">
										<xs:minInclusive value="50"/>
										<xs:maxInclusive value="255"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
                <!--
							<xs:element name="ID" type="xs:unsignedInt" />
							<xs:element name="Address">
								<xs:simpleType>
									<xs:restriction base="xs:unsignedByte">
										<xs:minInclusive value="2"/>
										<xs:maxInclusive value="250"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element minOccurs="1" maxOccurs="16" name="Canal">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Position">
											<xs:simpleType>
												<xs:restriction base="xs:unsignedByte">
													<xs:minInclusive value="1"/>
													<xs:maxInclusive value="16"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Devise">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:length value="2"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Valeur" type="xs:unsignedInt" />
										<xs:element name="Variant">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:length value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Enable" type="xs:boolean" default="true"/>
										<xs:element name="PathSorter">
											<xs:simpleType>
												<xs:restriction base="xs:unsignedByte">
													<xs:minInclusive value="1" />
													<xs:maxInclusive value="8" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
                -->
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Hoppers">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="8" name="Hopper">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ID" type="xs:unsignedInt" />
										<xs:element name="Address">
											<xs:simpleType>
												<xs:restriction base="xs:unsignedByte">
													<xs:minInclusive value="3"/>
													<xs:maxInclusive value="250"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Devise">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:length value="3"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Valeur" type="xs:unsignedInt" />
										<xs:element name="Recharge" type="xs:unsignedInt" />
										<xs:element name="Critique" type="xs:boolean" default="false"/>
										<xs:element name="Niveaux">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Plein" type="xs:unsignedInt" />
													<xs:element name="Haut" type="xs:unsignedInt" />
													<xs:element name="Bas" type="xs:unsignedInt" />
													<xs:element name="Vide" type="xs:unsignedInt" default="0" />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				
				<xs:element name="BillValidator">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ID" type="xs:unsignedInt" />
							<xs:element name="Type">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="BNA6"/>
										<xs:enumeration value="BN2"/>
										<xs:enumeration value="BN3"/>
										<xs:enumeration value="BN4"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Denominations">
								<xs:complexType>
									<xs:sequence>
										<xs:element maxOccurs="32" name="Denomination">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Devise">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:length value="3"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Valeur" type="xs:unsignedInt" />
													<xs:element name="Variant">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:length value="2"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Enable" type="xs:boolean" default="true"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="PhysicalUnits">
								<xs:complexType>
									<xs:sequence>
										<xs:element maxOccurs="6" name="PU">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Name">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:enumeration value="CB"/>
																<xs:enumeration value="LO1"/>
																<xs:enumeration value="RE3"/>
																<xs:enumeration value="RE4"/>
																<xs:enumeration value="RE5"/>
																<xs:enumeration value="RE6"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Lock" type="xs:boolean" />
													<xs:element name="Niveaux">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Plein" type="xs:unsignedInt" />
																<xs:element name="Haut" type="xs:unsignedInt" />
																<xs:element name="Bas" type="xs:unsignedInt" />
																<xs:element name="Vide" type="xs:unsignedInt" default="0" />
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Logicalunits">
								<xs:complexType>
									<xs:sequence>
										<xs:element maxOccurs="32" name="LU">
											<xs:complexType>
												<xs:sequence>
													<xs:element minOccurs="0" name="Name">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="5"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="PUName">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:enumeration value="CB"/>
																<xs:enumeration value="LO1"/>
																<xs:enumeration value="RE3"/>
																<xs:enumeration value="RE4"/>
																<xs:enumeration value="RE5"/>
																<xs:enumeration value="RE6"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Denomination">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Devise">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:length value="3"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="Valeur" type="xs:unsignedInt" />
																<xs:element name="Variant">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:length value="2"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>